{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{# {% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
      {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %} #}

{# CONTENT FOR INDIVIDUAL VIEW ROW -- OVERRIDE #}

{# if card image, use 3-9 grid.  otherwise, delete and use full row #}
{% if row._entity.field_select_card.value %}
  <div class="col-sm-12 col-md-4 col-lg-3">
    {{ fields.field_select_card.content }}
  </div>
  <div class="col-sm-12 col-md-8 col-lg-9 view-event-content">
{% else %}
  <div class="col-xs-12 view-event-content">
{% endif %}


  {# {% if row._entity.field_datetime_2.value %} #}
    <span class="item-upcoming-event-time"><strong><i class="far fa-clock"></i> {{ fields.field_datetime_2.content }}</strong></span>
  {# {% endif %} #}
  
  {% if row._entity.field_event_type.value %}
    <p class="item-upcoming-event-type">
      <strong>{{ fields.field_event_type.content }}</strong>
    </p>
  {% endif %}

  {% if row._entity.field_page_title.value %}
    <h4 class="item-upcoming-event-title">{{ fields.field_page_title.content }}</h4>
  {% else %}
    <h4 class="item-upcoming-event-title">{{ fields.title.content }}</h4>
  {% endif %}

  {% if row._entity.field_talk_type.value %}
    <p class="item-upcoming-event-talk-type">
      <strong>{{ fields.field_talk_type.content }}</strong><br />
      with {{ fields.field_speaker_name.content }}
    </p>
  {% elseif row._entity.field_tour_type.value %}
    <p class="item-upcoming-event-talk-type">
      <strong>{{ fields.field_tour_type.content }}</strong>
    </p>
  {% endif %}

  {% if row._entity.field_paragraphs_content.value %}
    <p class="item-upcoming-event-snippet">
      {{ fields.field_paragraphs_content.content }}
    </p>
  {% endif %}

  <p><span class="item-upcoming-event-link">{{ fields.view_node.content }}</span></p>

  {% if fields.field_signup_button.content %}
    <p class="item-upcoming-event-signup">
      <span>{{ fields.field_signup_button.content }}</span>
      {% if fields.field_admission_type %}
        <span class="item-upcoming-event-admission-type">
          &nbsp;<i class="fas fa-dollar-sign"></i>
          {{ fields.field_admission_type.content }}
        </span>
      {% endif %}
    </p>
  {% endif %}




{#
  {% if fields.field_tour_type %}
    <p class="item-upcoming-event-tour-type">
      <strong>Tour Type:</strong> {{ fields.field_tour_type.content }}
    </p>
  {% endif %} #}

</div>